SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
APP_FRONTEND_URL=
APP_LOAD_DEMO_DATA=false
APP_BOOTSTRAP_ADMIN_USERNAME=
APP_BOOTSTRAP_ADMIN_PASSWORD=
APP_BOOTSTRAP_ADMIN_FULL_NAME=
PORT=8080
